/* GENERAL */

h1 {
    font-weight: 700;
}

h3 {
    font-size: 18px;
}

/* UTILITIES */
._green {
    background-color: #1abc9c;
}

._darkblue {
    background-color: #2c3e50;
    color: white; /*FIXME:*/
}

._lightblue {
    background-color: #3a546d;
    color: white; /*FIXME:*/
}

.txtWhite {
    color: white;
}

.Hline {
    border: 3px solid white;
    margin-bottom: 10px;
    display: inline-block;
    width: 20%;
}

/*********** HEADER ***********/

/* Navbar */

/* allineamento verticale */
.go_navbar{
    padding: 20px 0px;
}

/* adatto colore allo sfondo dell'header */
.go_navbar .navbar-default{
    background-color: transparent;
    border: none;
}

.go_navbar .navbar {
    margin-bottom: 0;
}

/* colore testo brand e link */
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: white;
}


/*********** HERO *************/
.hero {
    min-height: 590px; /*FIXME:*/
}

.hero .hero-content {
    padding: 40px 0;
}

.hero .hero-content img{
    max-width: 220px;
}

/* dimensione icona */
.fa, .fas {
    font-size: 32px
}


/*********** MAIN_CONTENT Portfolio *************/
._card {
    height: 360px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color:red;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 50px;
    }

    h3 {
        font-size: 24px;
    }
    
    ._card {
        height: 330px;
    }

}

@media screen and (min-width: 992px) {
    ._card {
        height: 260px;
    }
}

/*********** ABOUT *************/
.about {
    min-height: 200px; /*FIXME:*/
}

/*********** FOOTER *************/
.footer-top {
    min-height: 100px; /*FIXME:*/
}