/* GENERAL */

h1 {
    font-weight: 700;
}

h3 {
    font-size: 18px;
}

/* UTILITIES */
._green {
    background-color: #1abc9c;
    color: white;
    font-weight: 500;
}

._darkblue {
    background-color: #2c3e50;
    color: white; /*FIXME:*/
}

._lightblue {
    background-color: #3a546d;
    color: white; /*FIXME:*/
}

.txtWhite {
    color: white;
}

.mg-top30 {
    margin-top: 30px;
}

.mg-bottom30 {
    margin-bottom: 30px;
}

.Hline {
    border: 3px solid;
    margin-bottom: 10px;
    display: inline-block;
    width: 20%;
}

.paddingSection {
    padding-top: 40px;
    padding-bottom: 25px;
}


/*********** HEADER ***********/

/* Navbar */

/* allineamento verticale */
.go_navbar{
    padding: 20px 0px;
}

/* adatto colore allo sfondo dell'header */
.go_navbar .navbar-default{
    background-color: transparent;
    border: none;
}

.go_navbar .navbar {
    margin-bottom: 0;
}

/* colore testo brand e link */
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: white;
}

/* TODO: */
/* editare stato hover links */


/*********** HERO *************/
/* .hero {
    min-height: 590px;
} */

/* padding top e bottom del contenuto hero */
/* .hero .hero-content {
    padding: 40px 0;
} */

.hero .hero-content img{
    max-width: 220px;
}

/* dimensione icona */
.fa, .fas {
    font-size: 32px
}


/*********** MAIN_CONTENT Portfolio *************/

._card img {
    border-radius: 10px;
    margin: auto;
}


@media screen and (min-width: 768px) {
    h1 {
        font-size: 50px;
    }

    h3 {
        font-size: 24px;
    }
    
}

@media screen and (min-width: 992px) {
    /*  */
    .hero .hero-content {
        padding: 30px 0;
    }
}

/*********** ABOUT *************/
.about {
    min-height: 200px; /*FIXME:*/
}

.about .row p{
    font-size: 18px;
    text-align: left;
}


.mybutton {
    margin-top: 30px;
    font-size: 18px;
}

.btn::before {
    font-family: "Font Awesome 5 Free";
    content: "\f381";
    display: inline-block;
    padding-right: 8px;
    vertical-align: bottom;
    font-weight: 900;
}

/* STILIZZARE LO STATO DI HOVER BUTTON TODO: */

/*********** FOOTER *************/
.footer-top {
    min-height: 100px; /*FIXME:*/
}