/* UTILITIES */
._green {
    background-color: #1abc9c;
}

._darkblue {
    background-color: #2c3e50;
    color: white; /*FIXME:*/
}

._lightblue {
    background-color: #3a546d;
    color: white; /*FIXME:*/
}

/*********** HEADER ***********/
header {
    min-height: 90px; /*FIXME:*/
}

/*********** HERO *************/
.hero {
    min-height: 590px; /*FIXME:*/
}

/*********** MAIN_CONTENT Portfolio *************/
._card {
    height: 360px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color:red;
}

@media screen and (min-width: 768px) {
    ._card {
        height: 330px;
    }
}

@media screen and (min-width: 992px) {
    ._card {
        height: 260px;
    }
}

/*********** ABOUT *************/
.about {
    min-height: 200px; /*FIXME:*/
}

/*********** FOOTER *************/
.footer-top {
    min-height: 100px; /*FIXME:*/
}